<div class="loginPage">
  <div class="form">
    <h1 class="form__title">{{title}}</h1>
    <form class="form__element">
      <div class="form__inputs">
        {{#each inputs}}
          {{> Input label=this.label errorMessage=this.errorMessage type=this.type inputName=inputName }}
        {{/each}}
      </div>
      <div class="form__buttons">
        {{#each buttons}}
          {{> Button label=this.label type=this.type}}
        {{/each}}
      </div>
    </form>
  </div>
</div>
