<div class='container'>
  <nav>
    <ul>
      <li><a href='#' page='login'>Login</a></li>
      <li><a href='#' page='register'>Register</a></li>
      <li><a href='#' page='main'>Main</a></li>
      <li><a href='#' page='userProfile'>User Profile</a></li>
      <li><a href='#' page='userEdit'>User Edit</a></li>
      <li><a href='#' page='userEditPassword'>User Edit password</a></li>
      <li><a href='#' page='userChangeAvatar'>User change avatar</a></li>
      <li><a href='#' page='errorPage'>Error 500</a></li>
      <li><a href='#' page='errorPage404'>Error 404</a></li>
    </ul>
  </nav>
</div>