<div class="${this.props.className}">
  <h1 class="form__title">{{title}}</h1>
  <form class="form__element" >
    <div class="form__inputs">
      {{{inputs}}}
    </div>
    <div class="form__buttons">
      {{{buttons}}}
    </div>
  </form>
</div>
