<div class="dialog-container">
    <div class="dialog">
        <h2 class="dialog__title{{#if error}} error{{/if}}">{{title}}</h2>
        <div class="dialog__body">
            {{> @partial-block}}
        </div>
        <div class="dialog__footer">
            {{> Button type="primary" label=labelConfirm }}
            {{#if labelCancel }}
                <div class="dialog__cancel-button">
                    {{> Button type="link" label=labelCancel }}
                </div>
            {{/if}}
            {{#if errorMessage }}
                <span class="dialog__action-error-message">{{actionErrorMessage}}</span>
            {{/if}}
        </div>
    </div>
</div>