<form class="{{#if (eq type "search") }}searchField{{else}}messageField{{/if}}">
    {{#if (eq type "search") }}
        <button >
            <img src="/public/icons/search.svg" alt="">
        </button>
        <input type="search"  placeholder="{{placeholder}}">
    {{else}}
        {{> Button type="icon" source="/public/icons/clip.svg"}}
        <textarea name="message"  rows="1" placeholder="{{placeholder}}"></textarea>
        {{> Button type="icon-filled" source="/public/icons/arrow.svg"}}
    {{/if}}
</form>