<div class="test">
<!--    <div class="inside">-->
<!--        {{> ChatItem name="Вася" time="Вчера" text=" hello wrohello wasdfa sdroldhasdfasdello wroldld"  isOwnMessage=true }}-->

<!--    </div>-->
<!--&lt;!&ndash;    {{> Menu}}&ndash;&gt;-->

<!--    <div class="chatListt">-->
<!--        {{> ChatList }}-->
<!--    </div>-->
<!--    <div>-->
<!--        {{> SearchField }}-->
<!--    </div>-->

    <div class="inside">
<!--        {{#> Dialog labelConfirm="Добавить" title="Добавить пользователя" labelCancel="Отмена" }}-->
<!--            {{> Input label="Логин" }}-->
<!--        {{/ Dialog }}-->

        {{> Avatar size="small"}}

        {{> Button label="Cacel" type="icon" source="/public/icons/arrow.svg" textColor="red"}}
    {{> Button label="Cacel" type="primary" textColor="red"}}
    </div>

</div>
