<div class="error">
    <div class="error-page">
        <div class="error-page__error-code">{{ErrorCode}}</div>
        <div class="error-page__info">{{infoMessage}}</div>
        <div class="error-page__goback-button">
            {{> Button type="link" label=buttonLabel }}
         </div>
    </div>
</div>