<div class="error-page">
  <div class="error-page__error-code">{{errorCode}}</div>
  <div class="error-page__info">{{infoMessage}}</div>
  <div class="error-page__goback-button">
    {{{ LabelButton }}}
  </div>
</div>
